{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Clientes</h2>
        <!-- Aqui codigo tarjeta -->

            <div class="card">
                <div class="card-body">
                <form action="/editarCliente/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group">
                    <input type="text" id="txtidcliente" name="txtidcliente" minlength="1" maxlength="6" value="{{misclientes.id_cliente}}" class="form-control" readonly required>
                    </div>
                    <div class="form-group py-3">
                    <input type="text" id="txtnombrecliente" name="txtnombrecliente" value="{{misclientes.nombre}}" maxlength="45" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                    <input type="text" id="txtapellidos" name="txtapellidos" maxlength="100" value="{{misclientes.apellidos}}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtdireccion" name="txtdireccion" maxlength="45" value="{{misclientes.direccion}}" class="form-control" required>
                        </div>
                        <div class="form-group py-3">
                        <input type="text" id="txttelefono" name="txttelefono" value="{{misclientes.telefono}}" maxlength="15" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtcorreo" name="txtcorreo" maxlength="45" value="{{misclientes.c_electronico}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <input type="text" id="txtfechanacimiento" name="txtfechanacimiento" maxlength="45" value="{{misclientes.fecha_nacimiento}}" class="form-control" required>
                        </div>
                        <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar Clientes</button>
                        </div>
                </form>
                </div>
            </div> <!-- Tarjeta -->


        <!-- Aqui codigo tarjeta -->

    
    </div> 

</div> <!-- Fila en editar-->


{% endblock %}